<!DOCTYPE html>
<html>

<head>
    <title>Angular Barcode Example</title>

    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
</head>
    <body ng-app="barcode.example">

        <div class="row" ng-controller="BarcodeExampleController as bCtrl" style="padding: 40px">
            <div class="col-sm-6">
                <form>
                    <select class="form-control" ng-model="bCtrl.data.selection" ng-options="type.name for type in bCtrl.data.types"></select>
                    <div class="form-group">
                        <label>Text</label>
                        <input type="text" class="form-control" ng-model="bCtrl.data.selection.text" />
                    </div>
                    <div class="form-group">
                        <label>Alt Text</label>
                        <input type="text" class="form-control" ng-model="bCtrl.data.selection.altText" />
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Options</label>
                                <input type="text" class="form-control" ng-model="bCtrl.data.selection.options" />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Bg Color</label>
                                <input type="color" class="form-control" value="#fff" ng-model="bCtrl.data.selection.bgColor" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Scale X</label>
                                <input type="number" class="form-control" min="1" ng-model="bCtrl.data.selection.scale.x" />
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Scale Y</label>
                                <input type="number" class="form-control" min="1" ng-model="bCtrl.data.selection.scale.y" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label>Font Rendering</label>
                                <select class="form-control" ng-model="bCtrl.data.selection.rendering">
                                    <option value="0">Anti-Aliased</option>
                                    <option value="1">Monochrome</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <label>Image Rotation</label>
                            <select class="form-control" ng-model="bCtrl.data.selection.rotation">
                                <option value="N">Normal</option>
                                <option value="R">90CW</option>
                                <option value="L">90CCW</option>
                                <option value="I">180</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-sm-6">
                <tdd-barcode config="bCtrl.data.selection"></tdd-barcode>
            </div>
        </div>

        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <!-- Load fonts: Needed for bwip -->
        <script type="text/javascript">
            // TODO: Adapt your paths!
            var Module = {
                memoryInitializerPrefixURL : 'bower_components/bwip-js/',
                preRun:[ function() {
                    Module.FS_createPreloadedFile("/", "Inconsolata.otf",
                            "bower_components/bwip-js/Inconsolata.otf", true, false);
                } ],
                postRun:[ function() {
                    var load_font = Module.cwrap("load_font", 'number',
                            ['string','string','number']);
                    load_font("Inconsolata.otf", "INCONSOLATA", 108);
                } ]
            };
        </script>

        <!-- Add bwip dependencies -->
        <script src="bower_components/bwip-js/freetype.js"></script>
        <script src="bower_components/bwip-js/bwip.js"></script>
        <script src="bower_components/bwip-js/lib/canvas.js"></script>

        <script src="bower_components/angular-barcode/src/barcode.js"></script>

        <script src="example.js"></script>
    </body>
</html>
