body * {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1 {
  color: pink;
  font-size: 4rem;
  font-style: italic;
  margin-bottom: 4px;
  text-align: center;
}

td-barcode {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  width: 100%;
}

.barcode-input {
  display: block;
  margin: 0 auto;
}

.github {
  margin: 0px auto;
  margin-top: 20px;
  text-align: center; 
  width: 400px;
}

.github-btn {
  border-radius: 6px;
  padding: 15px;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #181717;
  margin-right: 10px;
  width: 75px;
}

.twitter-btn {
  background-color: #1DA1F2;
  border: 1px solid #1DA1F2;
  border-radius: 20px;
  color: white;
  display: block;
  font-size: 10px;
  margin: 0 auto;
  padding: 6px;
  width: 72px;
}

.github-btn svg, .twitter-btn svg {
  height: 20px;
  vertical-align: bottom;
}